.btn2{
    margin-left: 140px;
}

.p12{
    color: red;
}

.th1{
    background-color: grey;
}

.div123{
    background-image: url('3.jpg');
}

#btn123{
    height:60px;
    width: 90px;
    font-size: 30px;
  
}

#btn4{
    margin-left: 200px;
}